allow untrusted_app cache_file:fifo_file getattr;
allow untrusted_app media_prop:file { open read getattr };

allow untrusted_app system_app_service:service_manager find;
