service ril-daemon /system/bin/rild
    class main
    socket rild stream 660 root radio
    socket sap_uim_socket stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
    #socket rild-cas stream 660  drm drmrpc
    socket rild-cas stream 660  casdrm mmb
    user root
    group radio cache inet misc audio log sdcard_r sdcard_rw vpn system readproc wakelock

service ril-daemon1 /system/bin/rild -c 2
    class main
    socket rild2 stream 660 root radio
    socket sap_uim_socket2 stream 660 bluetooth bluetooth
    socket rild-debug2 stream 660 radio system
    user root
    group radio cache inet misc audio log sdcard_r sdcard_rw vpn system readproc wakelock
    disabled

#service ril-daemon /system/bin/rild
#		class main
#		socket rild stream 660 root radio
#		socket rild-debug stream 660 radio system
#		capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
#		user root
#		group radio cache inet misc audio log system

service DR-daemon /system/bin/ddexe
    class main
    user system
    group system radio inet net_raw

service SMD-daemon /system/bin/smdexe
    class main
    user system
    group system radio inet net_raw

service BCS-daemon /system/bin/connfwexe
    class main
    user system
    group system radio inet net_raw

# for ethernet
service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

# for Wi-Fi only models
on property:ro.radio.noril=yes
		stop ril-daemon
